<h1>Leave a Comment</h1>
<%#<%=render partial: '/errors', locals: {mistake: @comment}%>


<%#<%= form_for @comment, url:game_comments_path(@game) do |f| %>
<%#    <%= f.label :comment%>
<%#    <%= f.text_area :comment%>
<%#    <%= f.submit "Post Comment"%>
<%#    <% end %>
#,game_comments_path(@game, @comment)

 <%= form_for @comment do |f|%>
    <%#<%= f.label :comment%>
    <%= f.hidden_field :game_id, value:params[:game_id]%>
    <%= f.text_field :comment%>
    <%= f.submit "Comment"%>

<% end %>   