<h1>Add a Comment</h1>
<%#<%=render partial: '/errors', locals: {mistake: @comment}%>


<%#<%= form_for @comment, url:game_comments_path(@game) do |f| %>
<%#    <%= f.label :comment%>
<%#    <%= f.text_area :comment%>
<%#    <%= f.submit "Post Comment"%>
<%#    <% end %>

    