<H1> Login</H1>
<%#=render partial: '/errors', locals: {mistake: @user}%>
<%= form_tag('/users', method: :post) do %>
  <div>
    <%= label_tag(:username, "Username") %>
    <%= text_field_tag :username %>
  </div>
  <div>
   <%= label_tag(:password, "Password") %>
    <%= password_field_tag :password %>
  </div>
  <%= submit_tag("login") %>
<% end %>
