<h1>
    <%= @game.game_name %>
</h1>

<h2>demo: <%= @game.demo %>
</h2>
<h3>description: <%= @game.description %>
</h3>
<h4>Platform: <%= @game.platform%>
</h4>

<%= link_to "delete" , game_path(@game), method: :destroy %>

    <%= link_to "edit post" , edit_game_path(@game), method: 'edit' %>
<br></br>
<br></br>
<h5>Leave a Comment</h5>
<p>Comments:</p>
<%# <%= form_for(@game) do |f| %>
<%# <%= f.label "comments" %>
<%# <%= f.text_area :comment %>

<%# <%= f.submit %>
<%# <% end %> 
<%= render 'comments/form'%>
<%#<%= render 'comments/comment'%>