<h1>
    <%= @game.game_name %>
</h1>

<h2>demo: <%= @game.demo %>
</h2>
<h3>description: <%= @game.description %>
</h3>
<h4>Platform: <%= @game.platform%>
</h4>

<%= link_to "delete" , game_path(@game), method: 'delete' %>

    <%= link_to "edit post" , edit_game_path(@game), method: 'edit' %>
<br></br>
<br></br>
<h5>Leave a Comment</h5>
<p>Comments:</p>
<%= form_for(@comment) do |f| %>
<%= f.label  %>
<%= f.text_area :comment %>

<%= f.submit %>
<% end %>
