<h1>
    <%= @game.game_name %>
</h1>

<h2>demo: <%= @game.demo %>
</h2>
<h3>description: <%= @game.description %>
</h3>
<h4>Platform: <%= @game.platform%>
</h4>

<%= link_to "delete" , game_path(@game), method: :destroy %>

    <%= link_to "edit post" , edit_game_path(@game), method: 'edit' %>
<br></br>
<br></br>
<h5>Comments:</h5>

<% @game.comments.each do |g|%>
<%= g.comment%><br>
<% end %>

 <%= form_for(@comment) do |f| %>
 <%#<%= f.label "comments" %>
 <%= f.text_area :comment %>
 <%= f.hidden_field :game_id, :value=> 1%>
 <%= f.submit "Leave Comment" %>
 <% end %> 

<%# <%= render 'comments/form'%>
<%#<%= render 'comments/comment'%>
