<!DOCTYPE html>
<html>
  <head>
    <title>GameView2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%#<%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  </head>

  <body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href='/games'>GameView</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" href='/games/new'>Create Game</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/games/recent_games"> Recent Games</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <% if logged_in?  %>
            Welcome, <span> <%= @current_user.username %></span>
          
            <% end %>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <<li><a class="dropdown-item" href='/users/:id'> My Games</a></li>
            <li><a class="dropdown-item" method: 'delete' href='/logout' >Logout</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href='#'> </a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
            <% if logged_in?  %>
                <%= link_to "Logout", logout_path, method: 'delete' %>
            <% end %>
   <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>

    <%= yield %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

    


  </body>
</html>

      <%# <form class="d-flex">
        <%#<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <%#<button class="btn btn-outline-success" type="submit">Search</button>
      </form> %>